@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    width: 40px;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s linear infinite;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* ** Date picker custom styles ** */
.rdp-day {
  height: 30px;
  width: 30px;
}

.rdp-day:hover {
  background-color: theme("colors.accent.800") !important;
}

.rdp-day_selected {
  background-color: theme("colors.accent.500") !important;
}

@media (max-width: 1024px) {
  .rdp-months {
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;
  }
}
